https://www.macos-web.app/
https://gianlucajahn.github.io/macOS-react/
https://github.com/harish-sethuraman/macos-clone


functionality
        navbar 
        custom contextmenu - right click
                -on right click make dropdown appear
                -prevent right click on load up
-Styling
        Scrollbar app styling
        Actual navbar elements
        Icons
                top right dropdown
                calendar
                        left
                        right
                Checkmark on active color

Later
-vscode app???
-wallpapers
        - Add dark/light mode for each image
-When i click on element change z index to higher than all else??
-notch toggle
-weather app
-light mode/dark mode



# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
.env*

# vercel
.vercel

