.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 1%;
  position: relative;
}

.apps {
  z-index: 999;
  height: 5.5rem;
  align-items: center;
  justify-content: center;
  display: flex;
  width: fit-content;
  gap: 8px;
  border: 1px solid var(--border-color);
  border-radius: var(--radius);
  background-color: var(--system-bg);
  padding: 8px 4px;
  transition: 0.4s;
  // &:hover {
  //   transform: scale(1.2);
  //   margin-bottom: 10%;
  // }
  .divider {
    height: 100%;
    width: 1px;
    background-color: var(--border-color);
  }
  span,a {
    position: relative;
    display: grid;
    grid-template-rows: auto 4px;
    flex-direction: column;
    align-items: center;
    padding: 4px;
    margin-bottom: 8px;
    transform-origin: bottom;
    --transition-time: 0.34s;
    transition: var(--transition-time);
    &:hover {
      margin-bottom: 2rem;
      img {
        height: 6rem;
        width: 6rem;
      }
      p {
        display: block;
      }
    }
    div {
      border-radius: 50%;
      background-color: var(--textColor);
      aspect-ratio: 1;
      height: 0.5vh;
      margin: auto;
    }
    p {
      position: absolute;
      top: -40%;
      left: 50%;
      margin: auto;
      width: fit-content;
      padding: 4px 12px;
      border-radius: var(--radius);
      color: var(--textColor);
      text-align: center;
      border: 1px solid var(--border-color);
      transform: translate(-50%, 0);
      white-space: nowrap;
      display: none;
      background-color: var(--system-bg);
    }
  }
  img {
    aspect-ratio: 1;
    border-radius: inherit;
    height: 3.8rem;
    width: 3.8rem;
    transition: var(--transition-time);
    transform-origin: bottom;
    @media screen and (min-width: 1024px) {
      height: 4.5rem;
      width: 4.5rem;
    }
  }
}
