.weather {
  min-width: fit-content;
  .app {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .top,
    .bottom {
      background: linear-gradient(0deg, #343b57, #1b2036);
      border: 8px solid rgba(0, 0, 0, 0.3);
      padding: 2rem;
      border-radius: var(--radius);
    }
    .top {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
      .search {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-column: -1/1;
        gap: 20px;
        background-color: grey;
        padding-right: 10px;
        border-radius: var(--radius);
        color: #fff;
        input {
          text-align: center;
          background-color: transparent;
          padding: 0 10px;
          border: none;
        }
      }

      .right {
        margin-left: auto;
      }
      .middle {
        width: fit-content;
        margin: auto;
        grid-column: -1/1;
        display: flex;
        gap: 0.5rem;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      }
    }
    .bottom {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      font-weight: bold;
      .icon-and-bold {
        display: flex;
        gap: 0.5rem;
      }
      span {
        display: grid;
        grid-template-columns: 20% 40% 30%;
        .middle {
          margin: auto;
        }
      }
      .high-low {
        display: flex;
        gap: 0.75rem;
        margin-left: auto;
      }
    }
  }
}