.full {
  top: 0!important;
  bottom: 0;
  left: 0!important;
  right: 0;
  width: 100%;
  height: 100vh;
  transform: unset;
  z-index: 999;
}

.draggable {
  position: absolute;
  top: 10%;
  left: 50%;
  width: fit-content;
}


.window {
  border: 1px solid var(--border-color);
  background-color: var(--window-bg-color);
  border-radius: var(--radius);
  overflow-y: auto;
  display: grid;
  grid-template-rows: min-content 1fr;
  width: max-content;
  min-width: fit-content;
  color: var(--textColor);
  // display: flex; changed with js
  flex-direction: column;
  transition: 0.5s;
  z-index: -1;
  &.top-window {
    z-index: 20;
  }
  &.full {
    width: 100vw;
    height: 100%;
    .app {
      overflow: hidden;
    }
  }
  .app {
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
    padding: 1rem;
    color: inherit;
  }
  .header,
  #header {
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: pink;
    // border-bottom: 1px solid var(--border-color);
    padding: 10px 8px;
    .actions {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    p {
      width: 100%;
      text-align: center;
    }
  }
}
