.full {
  top: 0 !important;
  bottom: 0;
  left: 0 !important;
  right: 0;
  width: 100%;
  height: 100vh;
  transform: unset;
  z-index: 999;
}

.draggable {
  position: absolute;
  top: 10%;
  left: 50%;
  width: fit-content;
  z-index: 1;
}

.window {
  padding: 1px;
  border: 1px solid var(--border-color);
  background-color: var(--window-bg-color);
  border-radius: var(--radius);
  overflow-y: auto;
  display: grid;
  grid-template-rows: min-content 1fr;
  width: max-content;
  min-width: fit-content;
  color: var(--textColor);
  // display: flex; changed with js
  flex-direction: column;
  transition: 0.5s;
  z-index: 1;
  &.top-window {
    z-index: 20;
  }
  &.full {
    width: 100vw;
    height: 100%;
    // .app {
    //   overflow: hidden;
    // }
  }
  .app {
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
    padding: 1rem;
    color: inherit;
  }
  .header,
  #header {
    // border-bottom: 1px solid var(--border-color);
    padding: 10px 8px;
    position: relative;
    p {
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      text-align: center;
    }
    .actions {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      gap: 0.5rem;
      z-index: 10;

      &:hover {
        button {
          transform: scale(1.2);
          svg {
            transform: scale(1);
          }
        }
      }

      button {
        aspect-ratio: 1;
        border-radius: 50%;
        height: 0.9rem;
        transition: 0.2s;
        svg {
          transform: scale(0);
        }
      }
      & > :nth-child(1) {
        background-color: var(--app-red);
      }
      :nth-child(2) {
        background-color: var(--app-yellow);
      }
      :nth-child(3) {
        background-color: var(--app-green);
        transform: rotate(90deg);
      }
    }
    p {
      width: 100%;
      text-align: center;
    }
  }
}
