:root {
  --system-bg: hsla(240, 4%, 11%, 0.3);
  --system-bg-2: hsla(240, 4%, 11%, 0.6);
  --system-color: red;
  --border-color: rgba(255, 255, 255, 0.308);
  --textColor: #fff;
  --radius: 12px;
  --bg-img: url("https://www.macos-web.app/assets/peak-2-DfSFrbB9.webp");
  --window-bg-color: #1a1515;
  --calculator-bg-color: #454545b3;
  --calculator-orange: #f1a03b;
  --calculator-button-color: #73737399;
  --calculator-top-row-color: #59595999;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
}
body {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  main {
    max-height: 100vh;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    // overflow: hidden;
  }
  .bottom {
    position: relative;
    flex: 1;
  }
  nav {
    z-index: 999;
  }
  .background {
    z-index: -10000;
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.b-bottom {
  border-bottom: 1px rgba(255, 255, 255, 0.308) solid;
}

.b-left {
  border-left: 1px solid rgba(255, 255, 255, 0.308);
}

img {
  height: auto;
  width: 100%;
}

